<%=render "shared/navbar"%>
<%=render "shared/hero"%>

  <div class="container is-max-desktop">
    <%=render "shared/featured"%>
    <%=render "shared/categories"%>
  </div>
<%=render "shared/footer"%> 